/* App.css */

/* Styles for the App component */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
}

.app-title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the NavBar component */
/* App.css */

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #ffd700;
}
/* App.css  for footer*/

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.app-links a {
  display: block;
  margin-top: 10px;
  color: #ffd700;
  text-decoration: none;
}

.app-links a:hover {
  text-decoration: underline;
}
